.App {
  text-align: center;
}

.home-banner {
  opacity: .3;
  width: 100%;
}

.form {
  width: 50%;
  margin: auto;
  background-color: #f8f9fa;
  margin-top: 50px;
}

.half-left {
  width: 47%;
  float: left;
}

.half-right {
  width: 47%;
  float: right;
}

.solid {
    border-top: 3px solid #bbb;
    width: 94%;
    margin: auto;
}
