.App {
  text-align: center;
  background-color: #454545;
  color: white;
}

.home-feature-image {
  position: relative;
}

.feature-image {
  opacity: .3;
  width: 100%;
}

.feature-image-header {
  position: absolute;
  top: 50%;
  left: 50%
}

.form {
  width: 50%;
  margin: auto;
  background-color: #f8f9fa;
  color: #2f2f2f;
  margin-top: 50px;
}

.half-left {
  width: 47%;
  float: left;
}

.half-right {
  width: 47%;
  float: right;
}

.solid {
    border-top: 3px solid #bbb;
    width: 94%;
    margin: auto;
}
