.App {
  text-align: center;
  background-color: #454545;
  color: white;
}

.home-feature-image {
  position: relative;
  z-index: 0;
}

.feature-image {
  opacity: .3;
  width: 100%;
}

.feature-image-header {
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: 1;
}

.form {
  width: 50%;
  margin: auto;
  background-color: #f8f9fa;
  color: #2f2f2f;
  margin-top: 50px;
}

.half-left {
  width: 47%;
  float: left;
}

.half-right {
  width: 47%;
  float: right;
}

.sort {
  display: inline-block;
  margin-right: 15px;
}

.search {
  width: 25%;
  margin-right: 10%;
  display: inline-block;
  text-align: right;
}

.search-sort {
  width: 100%;
  text-align: right;
}

.solid {
    border-top: 3px solid #bbb;
    width: 94%;
    margin: auto;
}

.deal-card {
  color: #2f2f2f;
  text-align: left;
}

.list {
  text-align: center;
  margin: auto;
  width: 100%;
}

.logo-text {
  font-family: 'bindhu';
}

.card-buttons {
  display: flex;
  justify-content: center;
}

.modal {
  z-index: 10000; 
}

.modal-dialog {
  max-width: 90%;
}

.modal-body {
  display: flex;
}

.modal-image {
  width: 50%;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  float: left;
}

.modal-info {
  float: right;
  width: 50%;
  margin-left: 5%;
  top: 50%
}

.page-title {
  display: flex;
  float: left;
  margin-left: 5%;
  font-family: 'hei reina';
  font-size: 65px;
  margin-bottom: 0;
}

.view, .accept {
  margin-right: 1%;
}

.contact {
  width: 40%;
}

.contact-info {
  display: block;
}

.deal-card-image {
  width: 50px;
  border-radius: 50%;
  height: auto;
  display: flex;
  float: right;
}

.green {
  color: #198753;
}

.card {
  color: #2f2f2f;
}

.form-label {
  display: block;
}

.offer {
  width: 100%;
}

.modal-content {
  display: block;
}

.li {
  margin-left: 5%;
}

.page-header {
  font-family: 'hei reina';
  font-size: 100px;
  margin-bottom: -15px;
}

.form-text {
  font-family: 'hei reina';
  font-size: 40px;
}

.disclaimer {
  font-family: 'arial';
  font-size: 1rem;
}